@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container bg-purple radius-20">
    <div style="height: 200px;" class="d-flex  justify-content-center align-items-center ">
        <h2 class="text-white">Blog</h2>
    </div>
</div>

<div class="container mx-auto">
    <div class="form-search bg-primary">
        <div class="input-group mb-3 shadow">
            <label class="input-group-text bg-white fs-3 border-none" for="search">
                <i class='bx bx-search  '></i>
            </label>
            <input type="text" name="search" class="form-control border-none" placeholder="Search" style=" height: 60px;">
        </div>

    </div>
</div>

@*<div class="container">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
</div>*@

<div class="container">
    <div class="row">

        @{
            foreach (var item in Model.Blogs)
            {
                <div class="col-lg-4 my-3">
                    <div class="card border-none">
                        <img src="/img/random.jpg" class="card-img-top radius-20" alt="...">
                        <div class="card-body border-none">
                            <h6 class="text-blue">@item.Category</h6>
                            <h3 class="card-title">@item.title</h3>
                            <p class="card-text mb-0">@item.content!.Substring(0,2)</p>
                            <div class="d-flex align-items-center mt-1">
                                <div class="">
                                    <img src="/img/user.jpg" style="width: 50px;height: 50px; border-radius: 50%;" />
                                </div>
                                <div class="ms-3 mt-3">
                                    <h6 class="mb-0">full name</h6>
                                    <p>15-6-2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

    </div>


</div>
<div class="text-center mb-5">

    <a asp-page="/Blogs/Index" class="btn btn-blue px-5 text-center">See more</a>
</div>